body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f7f6;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #6d6875;
    margin-top: 20px;
}

form {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #e2e0de;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #6d6875;
    font-weight: bold;
}

input[type="text"],
input[type="time"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #e2e0de;
    border-radius: 5px;
    background-color: #f9f7f6;
    font-size: 14px;
    color: #403d39;
}

button {
    background-color: #ffc9b9;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    color: #6d6875;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #ffb3a7;
    color: #403d39;
}

a {
    text-decoration: none;
    color: #6d6875;
    font-weight: bold;
}

a:hover {
    color: #b5838d;
}
