<form th:action="@{/events/add}" th:object="${event}" method="post">
    <label for="name">Tapahtuman nimi::</label>
    <input type="text" id="name" th:field="*{name}" required>
    <br>
    <label for="dayOfWeek">Viikonpäivä:</label>
    <select id="dayOfWeek" th:field="*{dayOfWeek}" required>
        <option th:each="day : ${daysOfWeek}" th:value="${day}" th:text="${day}"></option>
    </select>
    <br>
    <label for="time">Aika:</label>
    <input type="time" id="time" th:field="*{time}" required>
    <br>
    <label for="category">Kategoria:</label>
    <select id="category" name="category" required>
        <option th:each="category : ${categories}"
                th:value="${category.id}"
                th:text="${category.name}">
        </option>
    </select>
    <br>
    <button type="submit">Tallenna</button>
    <a href="/events">Takaisin</a>
</form>
