<form th:action="@{/events/add}" th:object="${event}" method="post">
    <link rel="stylesheet" href="/css/stylenew.css">
    <label for="name">Tapahtuman nimi</label>
    <input type="text" id="name" th:field="*{name}" required>
    <!-- Alla näkyy virheviesit käyttäjälle // validointiin liittyvää -->
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Virhe: Anna tapahtuman nimi. Enintään 20 merkkiä. </div>
    <br>

    <label for="dayOfWeek">Viikonpäivä</label>
    <select id="dayOfWeek" th:field="*{dayOfWeek}" required>
        <option th:each="day : ${daysOfWeek}" th:value="${day}" th:text="${day}"></option>
    </select>
    <div th:if="${#fields.hasErrors('dayOfWeek')}" th:errors="*{dayOfWeek}">Virhe: Valitse viikonpäivä.</div>
    <br>

    <label for="time">Aika</label>
    <input type="time" id="time" th:field="*{time}" required>
    <div th:if="${#fields.hasErrors('time')}" th:errors="*{time}">Virhe: Anna aika muodossa hh:mm.</div>
    <br>

    <label for="category">Kategoria</label>
    <select id="category" name="category" required>
        <option th:each="category : ${categories}"
                th:value="${category.id}"
                th:text="${category.name}">
            <div th:if="${categoryError != null}" th:text="${categoryError}"></div>
        </option>
    </select>
    <br>
    <button type="submit">Tallenna</button>
    <a href="/events">Takaisin</a>
</form>
