<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Viikon tapahtumat</title>
</head>
<body>
<h1>Viikon tapahtumat</h1>
<link rel="stylesheet" href="/css/style.css">
<table border="1">
    <thead>
    <tr>
        <th>MAANANTAI</th>
        <th>TIISTAI</th>
        <th>KESKIVIIKKO</th>
        <th>TORSTAI</th>
        <th>PERJANTAI</th>
        <th>LAUANTAI</th>
        <th>SUNNUNTAI</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <div th:each="event : ${eventsByDay['MAANANTAI']}">
                <p th:text="${event.name}"></p>
                <p th:text="${event.time}"></p>
                <p th:text="${event.category.name}"></p>
                <a th:href="@{/events/delete/{id}(id=${event.id})}">Poista</a>
            </div>
        </td>
        <td>
            <div th:each="event : ${eventsByDay['TIISTAI']}">
                <p th:text="${event.name}"></p>
                <p th:text="${event.time}"></p>
                <p th:text="${event.category.name}"></p>
                <a th:href="@{/events/delete/{id}(id=${event.id})}">Poista</a>
            </div>
        </td>
        <td>
            <div th:each="event : ${eventsByDay['KESKIVIIKKO']}">
                <p th:text="${event.name}"></p>
                <p th:text="${event.time}"></p>
                <p th:text="${event.category.name}"></p>
                <a th:href="@{/events/delete/{id}(id=${event.id})}">Poista</a>
            </div>
        </td>
        <td>
            <div th:each="event : ${eventsByDay['TORSTAI']}">
                <p th:text="${event.name}"></p>
                <p th:text="${event.time}"></p>
                <p th:text="${event.category.name}"></p>
                <a th:href="@{/events/delete/{id}(id=${event.id})}">Poista</a>
            </div>
        </td>
        <td>
            <div th:each="event : ${eventsByDay['PERJANTAI']}">
                <p th:text="${event.name}"></p>
                <p th:text="${event.time}"></p>
                <p th:text="${event.category.name}"></p>
                <a th:href="@{/events/delete/{id}(id=${event.id})}">Poista</a>
            </div>
        </td>
        <td>
            <div th:each="event : ${eventsByDay['LAUANTAI']}">
                <p th:text="${event.name}"></p>
                <p th:text="${event.time}"></p>
                <p th:text="${event.category.name}"></p>
                <a th:href="@{/events/delete/{id}(id=${event.id})}">Poista</a>
            </div>
        </td>
        <td>
            <div th:each="event : ${eventsByDay['SUNNUNTAI']}">
                <p th:text="${event.name}"></p>
                <p th:text="${event.time}"></p>
                <p th:text="${event.category.name}"></p>
                <a th:href="@{/events/delete/{id}(id=${event.id})}">Poista</a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<a href="/events/add">Lisää uusi tapahtuma</a>
<a href="/">Palaa aloitussivulle</a>
</body>
</html>
